.refill-form {
    margin: 0 auto;
    padding: 10px;
    width: 400px;
}
.back-link {
    margin-bottom: 10px;
}
.refill-field {
    width: 100%;
    margin-bottom: 10px;
    button {
        width: 100%;
    }
}